body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: blue;
    color: white;
    margin: 0 auto;
    height: 50px;
  }

  header h2 {
    padding: 10px;
    margin: 0;
  }

    textarea {
      width: 600px;
      height: 120px;
    }

    input.postTitle {

      height: 20px;
    }
  div.display-posts {

    top: 350px;
    left: 0px;
    font-size: 1.05em;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  select {
    position: absolute;
    left: 0px;

  }

    li {
      font-size: 1.05em;
      list-style: none;
      padding-right: 20px;
    }

  p {
    left: 0px;
    font-size: 0.85em;
    color: black;
    font-family: Helvetica;
  }

  button {

      position: fixed
      top: 200px;
      color: white;
      width: 15%;

      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:28px;
      border:1px solid #18ab29;


      background-color: blue;
      font-family:Arial;
      font-size:17px;
      padding:16px 31px;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;


    }
  button.submit-btn {

    left: 0px;
    text-align: left;
    border: none;
    }


  p.user-label {

    {
      position: fixed;
      top: 0px;

      left: 0px;
      font-size: 0.85em;
      color: black;
      font-family: Helvetica;
    }

  /*
  Text
  green */




  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
